**
!Dockerfile
!Dockerfile.engine
!Dockerfile.runtime
!package.json
!bun.lock
!agent/
!agent/*.ts
!packages/
!packages/protocol/
!packages/protocol/package.json
!packages/protocol/README.md
!packages/protocol/LICENSE
!packages/protocol/tsconfig.json
!packages/protocol/src/
!packages/protocol/src/*.ts
!pipeline/
!pipeline/*.py
!pipeline/*.json
!pipeline/docker/
!pipeline/docker/*requirements.txt
!pipeline/docker/converter/
!pipeline/docker/converter/package.json
!pipeline/docker/converter/package-lock.json
!pipeline/tests/
!pipeline/tests/*.py
!THIRD_PARTY_NOTICES
!LICENSE
!README.md
!SECURITY.md
!docs/
!docs/dependency-review.md
!docs/release-process.md
!docs/release-notes-0.1.0.md
!docs/model-terms.md
!docs/linux-release-review.md
!legal/
!legal/manifest.json
!legal/*.txt
!legal/*.md
!scripts/
!scripts/package_notices.py
!scripts/image_notices.py
!scripts/build_source_bundle.py
!scripts/package_engine_artifact.py
!scripts/check_cpu_baseline.py
!patches/
!patches/lichtfeld-cpu-baseline.patch
**/node_modules
**/__pycache__
**/*.pyc
