**
!Dockerfile
!package.json
!bun.lock
!agent/
!agent/*.ts
!packages/
!packages/protocol/
!packages/protocol/package.json
!packages/protocol/README.md
!packages/protocol/LICENSE
!packages/protocol/tsconfig.json
!packages/protocol/src/
!packages/protocol/src/*.ts
!pipeline/
!pipeline/*.py
!pipeline/*.json
!pipeline/docker/
!pipeline/docker/*requirements.txt
!pipeline/tests/
!pipeline/tests/*.py
!THIRD_PARTY_NOTICES
!LICENSE
!README.md
!SECURITY.md
!docs/
!docs/dependency-review.md
!docs/release-process.md
!docs/release-notes-0.1.0.md
!legal/
!legal/manifest.json
!legal/*.txt
!legal/*.md
!scripts/
!scripts/package_notices.py
